@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quizzer</h1>
    <p>Enter activation code</p>

    @using (Html.BeginForm("Index", "Quizzer"))
    {
        <input type="text" id="txtActivationCode" name="txtActivationCode" />
        <input type="submit" value="Submit Code">
    }

    <!--Html.ActionLink("Submit Code", "Index", "Quizzer", null, new { onclick = "this.Href += '&Quizzer=' + document.getElementById('txtActivationCode').value;" })-->
</div>
