@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Quizzer</h1>
    <p>Enter activation code</p>

    <input type="text" id="txtActivationCode" name="txtActivationCode" />
    <input type="button" value="Submit" id="btnSubmit" name="btnSubmit" />

</div>
